/* ----------------- FORM ELEMENT --------------- */
#form-container {
    border: 2px solid rgba(54, 69, 79, 0.1);
    border-bottom: none;
    border-radius: 0.4em;
    margin: 7% auto;
    width: 31em;
}

#form-head {
    padding: 2% 10% 0 10%;
    text-align: center;
}

#form-head h1 {
    padding: 4% 0;
}

#form-container form {
    padding: 0 10%;
}

#form-container form .form-group {
    padding: 0.6em 0;
}

#form-container form input:not([type=submit]):not([type=checkbox]) {
    width: 100%;
    padding: 0.7em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #333333;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.4em;
    box-sizing: border-box;
    margin: 1em 0;
    transition: 0.5s;
}

#form-container form input:not([type=submit]):focus {
    border: 1px solid #5bc0de;
}

#form-container hr {
    border: 1px solid rgba(54, 69, 79, 0.1);
    margin: 1.5em 0;
}

#form-container form input[type=submit] {
    background-color: inherit;;
    color: #4CAF50;
    width: 100%;
    padding: 1em 1.8em;
    margin-bottom: 2em;
    border: 2px solid #ccc;
    border-radius: 0.4em;
    cursor: pointer;
    transition: 0.5s;
}

#form-container form input[type=submit]:hover {
    background-color: #45a049;
    color: white;
    border: 2px solid #45a049;
}

#form-container a {
    color: #1e90ff;
}

#already {
    background: rgba(54, 69, 79, 0.1);
    text-align: center;
    padding: 3% 2%;
    margin-top: 6%;
    border-radius: 0 0 0.4em 0.4em;
}
