/* -------------- PROFILE SECTION --------------- */
/* Section 1 */
#section {
	border-radius: 0.4em;
	border: 2px solid rgba(54, 69, 79, 0.1);
    padding: 3% 7%;
    margin: 5% 10%;
	min-width: 35em;
}

/* Image section */
#img-cont {
    position: relative;
    width: 35%;
    margin: 4% 0 10% 0;
}

#section img {
    display: inline;
    width: 100%;
    border: 1px solid #afafaf;
    border-radius: 5px;
    margin-bottom: 1.5em;
    transition-duration: 0.5s;
}

#section img:hover {
    opacity: 0.8;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0.5em;
    margin: 1em 0;
    cursor: pointer;
    font-size: 0.7em;
    transition: 0.5s;
}

.custom-file-upload:hover {
    background: #333;
    color: white;
}

input[type="submit"] {
    border: 1px solid #ccc;
    font-size: 0.7em;
    padding: 0.5em;
    cursor: pointer;
}

/* Horizontal line */
#section hr {
    border: 1px solid rgba(54, 69, 79, 0.1);
    margin-bottom: 25px;
}

#show:hover {
	text-decoration: underline;
	cursor: pointer;
}

#stats {
	display: none;
	padding: 1% 0 0 5%;
	font-size: 0.9em;
}
